@media screen and (max-width: 1160px) {

  .fix-container{
    padding: 0 3.8rem;
  }

  .review {
    height: auto;
    padding: 7.5rem;
  }
  .cards {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .contact-us .container,
  .info .container,
  .social .container {
    padding: 5rem;
  }

  .prices-container {
    gap: 2rem;
  }

  .prices-container > .container {
    width: 31rem;
  }

}

@media screen and (max-width: 1000px) {
  header{
    background: var(--blue-light);
  }

  .description {
    display: none;
  }
  .mobile-description{
    display: flex;
  }
  
  .products,
  .pricing {
    height: auto;
    padding: 8rem;
    flex-direction: column;
  }

  .prices-container {
    flex-direction: column;
    height: 100%;
    gap: 8.3rem;
  }

  .contact-us {
    height: auto;
    flex-direction: column;
  }

  .contact-us > .container {
    flex-direction: column;
    gap: 5rem;
  }

  .info {
    height: auto;
    padding: 8rem 0;
  }

  .social .container {
    padding: 0 auto;
    min-width: 0;
  }

  
  .fix-container{
    padding: 0;
  }

  .top-menu{
    display: none;
  }
  
  .mob-menu {
    display: flex;
  }
  
  #expading-mobile-menu.active{
    display: flex;
  }

}

@media screen and (max-width: 660px){
  
  .description{
    margin-left: auto ;
    justify-content: center;
    align-items: center;

  }




  
}

